$bg-color: rgb(63, 63, 63);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/background.jpg');
  background-color: $bg-color;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.623);
}

#content {
  position: absolute;
  top: 4em;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.623); 
}

#header {
  width: 100%;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 0.5em;
  position: relative;
  top: 0;
  height: 4em;

  h1 {
    font-size: 2.5em;
    margin-left: 0.5em;
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0em;
    display: flex;
    align-items: center;

    li {
      display: inline-flex;
      margin-right: 20px;
      font-size: 1.7em;
    }
  }
}